<% content_for :scripts do %>

  <%= stylesheets "sidebar", "content" %>
  <%= javascripts "ui", "raphael", "kiwi", "kiwi/bheap", "kiwi/graph", "kiwi/node", "kiwi/edge" %>
  
<% end %>

<div id="sidebar" class="sidebar">
  <%= partial("_sidebar") %>
</div>

<div id="page">
  <p id="about">
    Scarab is a simulator for the A* search algorithm which is very popular for its
    use in pathfinding.
    <br /><br />
    Using this tool you can generate graphs, which are a prime application for A*, where
    you can select a destination node. When you do, Scarab will highlight the most efficient path
    from the root to that given node in beautiful HTML5 goodness.
    <br /><br />
    This project was developed for the Artificial Intelligence course I'm enrolled in, I
    thought it'd be interesting to try such a thing out with JavaScript, HTML5, and a bit
    of Ruby.
  </p>
  
  <!-- tooltips -->
  <div id="tooltips">
    <%= partial("_tooltips") %>
    <span class="close-tooltip">[ hide ]</span>
  </div>
  
  <!-- overlay page -->
  <div id="overlay" class="hidden">
    <%= partial("_overlays") %>
  </div>
  
  <!-- loader -->
  <div id="loader">
    <span class="loading">..GENERATING..</span>
  </div>
  
  <!-- drawing canvas -->
  <div id="canvas"></div>
  
</div>
